.custom-pin {
  position: absolute;
  background-size: contain;
  background-position: bottom;
  width: 29px;
  height: 34px;
  background-repeat: no-repeat;
  svg {
    visibility: hidden;
  }
}
.driver-pin {
  background-image: url('../../assets/icons/car.png');
}

.task-pin {
  background-image: url('../../assets/icons/pin.png');
}
